 .all-movie {
    display: inline-flex;
    background-color: #E3F2FD;  
    }
li {
  list-style-type: none;
}
strip {
  height: 100%;
}
.content {
  margin: 5px;
  padding: 10px;
}
.rating {
  margin: 5px;
  padding: 10px;
}